@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="product-detail">
    <div class="row">
        <div class="col-lg-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                    </button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active product-detail__img">
                        <img src="~/img/slider02.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item product-detail__img">
                        <img src="~/img/slider01.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item product-detail__img">
                        <img src="~/img/slider03.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="product-detail__text">
                <h2 class="product-detail__title">Xiaomi Redmi Note 11T 5G</h2>
                <div class="product-detail__ranking">
                    <a>212 đánh giá (4.5 <i class="bi bi-star" style="color: red"></i>)</a>
                </div>
                <div class="product-detail__category">
                    <span>Category: Phones</span>
                </div>
                <div class="product-detail__price">
                    <span>41000000 VND</span>
                </div>
                <div class="product-detail__quantity">
                    <input type="number" class="text-center" value="1">
                </div>
                <div class="product-detail__btn">
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    <a href="#" class="btn btn-danger">Shop now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="product-detail__desc">
                <h2>Description</h2>
                <div>Xiaomi is introducing the Redmi Note 11T 5G smartphone for the Indian market. The device arrives as a rebadged version of the vanilla Redmi Note 11 which is launched in China. Speaking about the specifications of the device, it features a 6.6-inch IPS LCD display with Full HD+ resolution. The display panel offers a 20:9 aspect ratio, 399 PPI pixel density and a Corning Gorilla Glass protection. Under the hood, the device is equipped with an octa-core Dimensity 810 processor, which is coupled with Mali-G57 MC2 GPU. The device has 4GB of RAM and 128GB of internal storage. You also can expand the storage with the help of a microSD card support up to 512GB. On the back of the phone, there's a dual-camera setup which consist of a 50MP primary camera and a 8MP secondary lens. The front-facing camera located beneath the notch up front is of 16MP. The device packs a 5000mAh battery that has 33W fast charging support. The other key features which the Redmi Note 11T 5G offer include is 5G connectivity support, 4G LTE, Wi-Fi, Bluetooth, USB Type-C port, and a side-mounted fingerprint sensor. The other popular mobile from Xiaomi includes Redmi Note 10 Pro and the Redmi Note 10.</div>
            </div>
        </div>
    </div>
</div>
