<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active carousel-item--fit">
            <img src="~/img/slider01.jpg" class="d-block w-100" alt="slider01">
            <div class="carousel-caption d-none d-md-block">
                <h5>Tivi LG UltraWide 55 inch</h5>
                <p>Best seller. Best price</p>
            </div>
        </div>
        <div class="carousel-item carousel-item--fit">
            <img src="~/img/slider02.jpg" class="d-block w-100" alt="slider02">
            <div class="carousel-caption d-none d-md-block">
                <h5>Nikon Z 5</h5>
                <p>Starting price at 20.000.000 VND</p>
            </div>
        </div>
        <div class="carousel-item carousel-item--fit">
            <img src="~/img/slider03.jpg" class="d-block w-100" alt="slider03">
            <div class="carousel-caption d-none d-md-block">
                <h5>Xiaomi Redmi Note 10</h5>
                <p>Starting price at 10.000.000 VND</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
