<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset text-decoration-none">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset text-decoration-none">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset text-decoration-none">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset text-decoration-none">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset text-decoration-none">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset text-decoration-none">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Pook Shop
                    </h6>
                    <p>
                        Provide great products with great prices
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        shipping info
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Shipping rates & policies</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Refunds</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Taxes</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Delivery info</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        About us
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">About shop</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Our stores</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Services</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">News</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i>Go Vap District, HCMC</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        longnguyen@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +84 909 777 888</p>
                    <p><i class="fas fa-print me-3"></i> +84 909 888 999</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="">Long Nguyen</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->