@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Carousel" />

<div class="products">
    <div class="row g-0 products__header">
        <div class="col-sm-6 col-md-8">
            <h3 class="products__header-title">Featured products</h3>
        </div>
        <div class="col-6 col-md-4 text-end">
            <a href="" class="products__header-link">
                More products
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
    </div>
    <div class="products__content">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <div class="card__img-wrapper">
                        <img src="~/img/slider02.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#" class="btn btn-primary">Add to cart</a>
                            <a href=""><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card__img-wrapper">
                        <img src="https://cdn.tgdd.vn/Products/Images/4728/242564/camera-ip-mi-home-360-do-1080p-xiaomi-bhr4885gl-ava-600x600.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#" class="btn btn-primary">Add to cart</a>
                            <a href=""><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card__img-wrapper">
                        <img src="~/img/slider02.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#" class="btn btn-primary">Add to cart</a>
                            <a href=""><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card__img-wrapper">
                        <img src="~/img/slider02.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#" class="btn btn-primary">Add to cart</a>
                            <a href=""><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card__img-wrapper">
                        <img src="~/img/slider02.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#" class="btn btn-primary">Add to cart</a>
                            <a href=""><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card__img-wrapper">
                        <img src="~/img/slider02.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#" class="btn btn-primary">Add to cart</a>
                            <a href=""><i class="bi bi-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="news">
    <div class="row">
        <div class="col-lg-12">
            <div class="news__title">
                <span>LATEST NEWS</span>
                <h2>Global Technology</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 ">
            <div class="news__item">
                <div class="news__item-img default-bg" style="background-image: url(/img/news01.jpg)">
                </div>
                <div class="news__item-text">
                    <span><i class="bi bi-calendar-event me-2"></i>24 February 2022</span>
                    <h5>Realme V25 smartphone to launch soon, confirms company</h5>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="news__item">
                <div class="news__item-img default-bg" style="background-image: url(/img/news02.jpg)">
                </div>
                <div class="news__item-text">
                    <span><i class="bi bi-calendar-event me-2"></i>24 February 2022</span>
                    <h5>iPhone 14 leaks: New images reveal critical design change on smartphone</h5>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="news__item">
                <div class="news__item-img default-bg" style="background-image: url(/img/news03.jpg)">
                </div>
                <div class="news__item-text">
                    <span><i class="bi bi-calendar-event me-2"></i>24 February 2022</span>
                    <h5>iQoo 9 Pro: Buyer's guide to iQoo's most expensive smartphon</h5>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>