:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --header-height: 92px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    html {
        font-size: 16px
    }
}

html {
    position: relative;
    min-height: 100%;
}

.margin-header {
    margin-top: var(--header-height)
}

.default-bg {
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    transition: box-shadow 0.3s
}

    .card:hover {
        box-shadow: 0 0 11px rgb(33 33 33 / 20%);
    }
/*#region Header nav bar*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
    background-color: white;
}

.header__logo-img {
    height: 58px;
}

.header__logo-text {
    margin: 0;
    font-weight: 600;
    font-size: 1.4rem;
}

.header__navbar-list {
    height: 100%;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.header__navbar-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem
}

li.header__navbar-option {
    padding: 18px 0 18px 0;
}

.header__navbar-dropdown {
    position: relative;
}

    .header__navbar-dropdown:hover .header__navbar-dropdownbtn {
        color: #0a58ca
    }

.header__navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 285px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    top: 100%;
}

    .header__navbar-dropdown-content ul {
        list-style: none;
        padding: 0;
    }

    .header__navbar-dropdown-content li {
    }

        .header__navbar-dropdown-content li:hover {
            background-color: #cecece
        }

        .header__navbar-dropdown-content li:last-child:hover {
            border-bottom-right-radius: .25rem;
            border-bottom-left-radius: .25rem;
        }

    .header__navbar-dropdown-content a {
        text-decoration: none;
        color: var(--text-color);
        width: 100%;
        height: 100%;
        display: block;
        padding: 8px 12px;
    }

.header__navbar-dropdown:hover .header__navbar-dropdown-content {
    display: block
}

.header__navbar-icon {
    font-size: 1.6rem
}

.header__navbar-dropdown-content--sm {
    display: none;
    min-width:120px;
    width: fit-content;
    right: -15%;
    text-align: left;
}

.header__navbar-dropdown:hover .header__navbar-dropdown-content--sm {
    display: block
}
/*#endregion Header nav bar*/

/*#region Carousel*/
.carousel-item--fit {
    height: 718px
}

    .carousel-item--fit img {
        object-fit: cover;
        height: 100%
    }
/*#endregion Carousel*/

/*#region Featured products*/
.products {
    margin-top: 86px;
}

.products__header {
    margin-bottom: 26px;
}

.products__header-link {
    text-decoration: none;
}

.card__img-wrapper {
    height: 350px;
}

    .card__img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.cart-title--truncated,
.cart-text--truncated {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cart-title--truncated {
    height: 48px;
    -webkit-line-clamp: 2;
}

.cart-text--truncated {
    height: 96px;
    -webkit-line-clamp: 4;
}
/*#endregion Featured products*/
/*#region News*/
.news {
    margin-top: 86px;
    margin-bottom: 96px
}

.news__title {
    text-align: center;
    margin-bottom: 24px;
}

    .news__title span {
        color: #7b7bff;
    }

    .news__title h2 {
        margin-top: 16px
    }

.news__item-img {
    height: 270px
}

.news__item-text {
    padding: 30px 30px 25px;
    margin: 0 30px;
    margin-top: -35px;
    background: #ffffff;
}

    .news__item-text span {
        font-size: 14px;
        opacity: 0.8;
    }

    .news__item-text h5 {
        margin: 12px 0
    }

    .news__item-text a {
        position: relative;
        color: #111111;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding: 3px 0;
        text-decoration: none;
    }

        .news__item-text a:after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: #111111;
            content: "";
            transition: all, 0.3s;
        }

.news__item:hover .news__item-text {
    box-shadow: 0px 22px 50px #f2f3f5;
}

    .news__item:hover .news__item-text a:after {
        background: blue;
        width: 40px
    }
/*#endregion News*/

/*#region Product detail*/
.product-detail__img {
    height: 400px
}

    .product-detail__img img {
        object-fit: contain;
    }

.product-detail__title {
    margin-bottom: 12px
}

.product-detail__ranking {
    margin-bottom: 24px
}

.product-detail__category {
    margin-bottom: 12px
}

.product-detail__price {
    margin-bottom: 12px
}

    .product-detail__price span {
        font-size: 26px;
        font-weight: 700;
    }

.product-detail__quantity {
    margin-bottom: 12px
}

.product-detail__btn {
}

.product-detail__desc {
    margin: 42px 0
}

.carousel-control-icon--blue {
    background-color: cornflowerblue
}
/*#endregion Product detail*/

/*#region Product by category*/
.category-wrapper {
    margin: 126px 12px;
}

.category-of-product__list {
    list-style: none;
    font-size: 18px;
}

.category-of-product__item {
    margin: 12px;
}

.category-of-product__item__link {
}

    .category-of-product__item__link.active {
        text-decoration: none;
        color: var(--text-color);
        font-weight: 600;
        font-size: 22px;
        font-style: italic;
    }

.breadcrumb-item {
    color: #6c757d
}

.search-result {
    color: #6c757d;
    display: none
}

    .search-result.active {
        margin: 20px 0;
        display: block;
    }

.search-result__keyword {
    font-style: italic;
    margin-left: 8px;
}

.product-by-category {
    margin-bottom: 32px;
}
/*#endregion Product by category*/
